body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Container */
.input-container,
.card-container {
    width: 70%;
    margin: auto;
}

/* Input Container */
.input-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2 2 10px 0 #777777;
    padding: 20px;
    margin: 20px 0;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    /* Provides space between children elements */
}

.input-container select,
.input-container input,
.input-container button {
    border: none;
    outline: none;
}

.input-container input {
    flex-grow: 2;
    /* Takes more width compared to other elements */
    padding: 10px;
    font-size: 16px;
}

.input-container select {
    padding: 10px;
    font-size: 16px;
}

/* Buttons */
.go-btn,
.cross-btn,
.btn {
    cursor: pointer;
    background-color: #6409CD;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 2px solid #fff;
    font-weight: 600;
}

.go-btn {
    font-size: 17px;
}

.go-btn:hover,
.cross-btn:hover,
.btn:hover {
    border: 2px solid #6409CD;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #6409CD;
    background-color: #ffffff;
}


/* Card Container */
.card-container {
    display: flex;
    gap: 20px;
    /* Provides space between cards */
    margin-top: 100px;
    margin-bottom: 40px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #ccc;
    transition: box-shadow 0.15s ease;
    cursor: pointer;
    width: 30%;
}

.card:hover {
    box-shadow: 0 0 15px 5px #ccc;
}


/* Table Display */
.table-display table {
    width: 100%;
    border-collapse: collapse;
}

.table-display th,
.table-display td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.table-display th {
    background-color: #f2f2f2;
}

.table-display tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Error Display */
.error {
    display: none;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

.error.show {
    display: block;
}

/* Other UI Elements */
.question,
.db-name {
    margin: 10px 0;
}

.db-name {
    font-size: 14px;
}

.select-db {
    width: 220px;
    height: 45px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #8f8f8f;
    background: #ffffff;
    border: none;
    outline: none;
    display: inline-block;
    appearance: none;
    cursor: pointer;
}

.thumbs-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    /* Adjust as needed */
}

.thumbs-up,
.thumbs-down {
    background-color: #e0e0e0;
    color: #000;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.thumbs-up:hover,
.thumbs-down:hover {
    background-color: #d0d0d0;
}

.thumbs-up.selected,
.thumbs-down.selected {
    background-color: #b0b0b0;
}

@media(max-width: 768px) {

    .input-container,
    .card-container {
        width: 90%;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}